/*Algemene styling*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto'; 
	background: linear-gradient(to right, #8c47e0 , #6b32ef);
	overflow: hidden;
}

.background {
	background-image: url("https://images.unsplash.com/photo-1482745637430-91c0bbcea3e1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c0e1624bfa6a8a9937276964b2747ef7&auto=format&fit=crop&w=1950&q=80");
	background-repeat: no-repeat;
	background-size: cover;
}

/*navigatie*/

nav a {
	text-decoration: none;
	color: #91856d;
	font-weight: bold;
}

nav a:hover {
	color: gold;
}

nav > ul {
	display: flex;
	flex-direction: row;
	padding: 1%;
	margin: 0;
	justify-content: center;
	background: linear-gradient(to right, #fffdf9, #fff6d6 , #fffdf9);

}

nav > ul li {
 	list-style: none;
	display: flex;
	flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    font-weight: bold;
}

/*Sectie 3 die momenteel nog leeg is maar er voor zorgt dat er getoggeld 
kan worden tussen de twee secties*/

.section2{
    height: 100vh;
	
}

/*Sectie 3 waar de best practices in staan*/

.section3 {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5%;
	margin-top: -5%
	
	}

.section3 ul {
	text-decoration: none;
	list-style: none;
	font-size: 20px;
	color: black;
	background: white;
	border-radius: 10px;
	box-shadow: 3px 9px 37px 0px rgba(0,0,0,0.75);
	padding: 5%;
	margin-top: -10vh;
}

/*Classes die javaScript toevoegd of weghaald*/

.hidden {
	display: none;
}














